<div class="row" style="margin:15px 0 0 0;">
  <div class="col-md-3">
    <div class="row">
      <div class="col-md-4 text-right">
        <span class="details-keys">Source Node:</span>
      </div>
      <div class="col-md-8">
        <span class="details-values">{{ sid }}</span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 text-right">
        <span class="details-keys">Type:</span>
      </div>
      <div class="col-md-8">
        <span class="details-values">{{ stype }}</span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 text-right">
        <span class="details-keys">Address:</span>
      </div>
      <div class="col-md-8">
        <span class="details-values">{{ saddr }}</span>
      </div>
    </div>

    {{#sport}}
    <div class="row">
      <div class="col-md-4 text-right">
        <span class="details-keys">Port:</span>
      </div>
      <div class="col-md-8">
        <span class="details-values">{{ this }}</span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-right">
        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#FlowAddModal" data-node="{{../sid}}"><i class="fa fa-plus"></i> Add a new flow</a>
        <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#FlowLowPriorityRemoveModal" data-node="{{../sid}}"><i class="fa fa-trash"></i> Remove low priority flows</a>
      </div>
    </div>
    {{/sport}}

    <hr />

    <div class="row">
      <div class="col-md-4 text-right">
        <span class="details-keys">Target Node:</span>
      </div>
      <div class="col-md-8">
        <span class="details-values">{{ tid }}</span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 text-right">
        <span class="details-keys">Type:</span>
      </div>
      <div class="col-md-8">
        <span class="details-values">{{ ttype }}</span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 text-right">
        <span class="details-keys">Address:</span>
      </div>
      <div class="col-md-8">
        <span class="details-values">{{ taddr }}</span>
      </div>
    </div>

    {{#tport}}
    <div class="row">
      <div class="col-md-4 text-right">
        <span class="details-keys">Port:</span>
      </div>
      <div class="col-md-8">
        <span class="details-values">{{ this }}</span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-right">
        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#FlowAddModal" data-node="{{../tid}}"><i class="fa fa-plus"></i> Add a new flow</a>
        <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#FlowLowPriorityRemoveModal" data-node="{{../tid}}"><i class="fa fa-trash"></i> Remove low priority flows</a>
      </div>
    </div>
    {{/tport}}

    <hr />

    <div class="row">
      <div class="col-md-4 text-right">
        <span class="details-keys">Link Capacity:</span>
      </div>
      <div class="col-md-8">
        <span class="details-values">{{ capacity }}</span>
      </div>
    </div>

  </div>

  <div class="col-md-9">
    <div class="row row-fluid" style="margin-right: 0px;">
      <div class="col-md-12 connectors">

        <div>
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#connectors" aria-controls="connectors" role="tab" data-toggle="tab">Connectors</a></li>
            <li role="presentation"><a href="#all-flows" aria-controls="all-flows" role="tab" data-toggle="tab">Flows</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="connectors">
              <table class="table table-condensed">
                <thead>
                  <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>port</th>
                    <th>configuration</th>
                    <th>hardware_address</th>
                    <th>status</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each connectors}}
                  <tr class="{{class}}">
                    <td>{{id}}</td>
                    <td>{{name}}</td>
                    <td>{{port_number}}</td>
                    <td>{{configuration}}</td>
                    <td>{{hardware_address}}</td>
                    <td>{{status}}</td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>

            <div role="tabpanel" class="tab-pane" id="all-flows">
              <table class="table table-condensed" id="operationalTable">
                <thead>
                  <tr>
                    <th width="1%"></th>
                    <th width="20%">ID</th>
                    <th>Name</th>
                    <th>Priority</th>
                    <th>Idle/Hard Timeout</th>
                    <th class="eth">Ether Type</th>
                    <th class="eth">Ether Source</th>
                    <th class="eth">Ether Destination</th>
                    <th class="ip">IPv4 Source</th>
                    <th class="ip">IPv4 Destination</th>
                    <th width="15%">Actions</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {{#each flows}}
                  <tr class="{{class}}">
                  <td>
{{#active}}
<i class="fa fa-fw fa-check" style="color: green;" title="This is a active flow.
That means that is running on the switch"></i>
{{/active}}
{{^active}}
<i class="fa fa-fw fa-check" style="color: #222;"></i>
{{/active}}
                    </td>
                    <td>{{id}}</td>
                    <td>{{name}}</td>
                    <td>{{priority}}</td>
                    <td>{{idle_timeout}}/{{hard_timeout}}</td>
                    <td class="eth">{{ethernet_match.type}}</td>
                    <td class="eth">{{ethernet_match.source}}</td>
                    <td class="eth">{{ethernet_match.destination}}</td>
                    <td class="ip">{{ipv4_source}}</td>
                    <td class="ip">{{ipv4_destination}}</td>
                    <td>{{#each actions}} {{type}}:{{value}} {{/each}}</td>
                    <th><a target="_blank" href="/plot_flow_new.html?node={{node_id}}&table={{table_id}}&clean_id={{clean_id}}"><i class="fa fa-area-chart"></i></a>
                        <a href="#" data-toggle="modal" data-target="#FlowRemoveModal" data-flow="{{id}}" data-table="{{table_id}}" data-name="{{name}}" data-node="{{node_id}}"><i class="fa fa-trash"></i></a></th>
                  </tr>
                  {{/each}}
                </tbody>
              </table>

            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
