  <div class="row" style="margin:15px 0 0 0;">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-6 text-right">
          <span class="details-keys">Source:</span>
        </div>
        <div class="col-md-6">
          <span class="details-values">{{ source }}</span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 text-right">
          <span class="details-keys">Destination:</span>
        </div>
        <div class="col-md-6">
          <span class="details-values">{{ destination }}</span>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
          <div class="tab-pane active">
          <table id="path-details-table" class="table table-condensed table-hover paths">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Length</th>
                      <th>Path</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each paths}}
                    <tr>
                      <td><a href="#" data-toggle="modal" data-target="#PathFlowsConfirmationModal" data-path="{{this.uid}}" data-pathlist="{{this.path}}"><i style="color: orange;" title="Click here to activate this path, installing flows..." class="fa fa-bolt"></i></a></td>
                      <td>{{this.path.length}}</td>
                      <td>{{#each this.path}}<span class="label label-primary">{{this}}</span> {{/each}}</td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
          </div>
      </div>
    </div>
  </div>
